# Parse PDF

Extract tables from a PDF using the tabula-py package.

In [1]:
# Libraries and Packages
import pandas as pd
import tabula
import matplotlib as plt

In [2]:
# convert PDF into CSV file
tabula.convert_into("test.pdf", "output.csv", output_format="csv", pages='all')

Failed to import jpype dependencies. Fallback to subprocess.
No module named 'jpype'

In [3]:
df = pd.read_csv('output.csv')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22508 entries, 0 to 22507
Data columns (total 6 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   10-Digit BBL                22508 non-null  object
Number               22490 non-null  object
 2   Street Name                 22508 non-null  object
Footage    22508 non-null  object
 4   Energy Star 1 to 100 Score  22508 non-null  object
Grade     22508 non-null  object
dtypes: object(6)
memory usage: 1.0+ MB

In [5]:
df.head()

,10-Digit BBL,Street\rNumber,Street Name,DOF Gross Square\rFootage,Energy Star 1 to 100 Score,Energy\rEfficiency\rGrade
0,1000010010,1,GOVERNORS ISLAND,"2 ,598,091",missing required benchmarking\rinformation,F
1,1000020002,10,SOUTH STREET,"1 57,426",2,D
2,1000047501,1,WATER STREET,"2 ,542,563",64,C
3,1000057501,125,BROAD STREET,"1 ,354,691",76,B
4,1000080039,32,PEARL STREET,"4 6,724",74,B

In [6]:
df.describe()

,10-Digit BBL,Street\rNumber,Street Name,DOF Gross Square\rFootage,Energy Star 1 to 100 Score,Energy\rEfficiency\rGrade
count,22508,22490,22508,22508,22508,22508
unique,21812,6192,2801,16081,102,6
top,10-Digit BBL,Street\rNumber,Street Name,DOF Gross Square\rFootage,missing required benchmarking\rinformation,D
freq,696,696,696,696,1357,7538

In [7]:
# Filter out duplicate table headers
df_filtered = df.loc[(df['10-Digit BBL'] != '10-Digit BBL')
       & (df['Street\rNumber'] != 'Street\rNumber')
       & (df['Street Name'] != 'Street Name')
       & (df['DOF Gross Square\rFootage'] != 'DOF Gross Square\rFootage')
       & (df['Energy Star 1 to 100 Score'] != 'Energy Star 1 to 100 Score')
       & (df['Energy\rEfficiency\rGrade'] != 'Energy\rEfficiency\rGrade')
]

In [8]:
# Filter out buildings without scores
df_filtered = df_filtered.loc[df_filtered["Energy Star 1 to 100 Score"] != 'missing required benchmarking\rinformation']

In [9]:
df_filtered.describe()

,10-Digit BBL,Street\rNumber,Street Name,DOF Gross Square\rFootage,Energy Star 1 to 100 Score,Energy\rEfficiency\rGrade
count,20455,20440,20455,20455,20455,20455
unique,20454,5922,2682,15272,100,4
top,3002080331,100,BROADWAY,"3 6,000",100,D
freq,2,90,476,72,1144,7538

In [10]:
df_filtered.to_csv('ratings_from_pdf.csv')